<label for="section_name">Name</label>
<%= f.text_field(:name) %>

<label for="section_position">Position</label>
<%= f.text_field(:position) %>

<label for="section_subject_id">Page ID</label>
<%= f.text_field(:page_id) %>

<label for="section_visible">Visible</label>
<%= f.text_field(:visible) %>

<label for="section_content_type">Content type</label>
<%= f.text_field(:content_type) %>

<label for="section_content">Content</label>
<%= f.text_field(:content) %>