<label for="page_name">Name</label>
<%= f.text_field(:name) %>

<label for="page_permalink">Permalink</label>
<%= f.text_field(:permalink) %>

<label for="page_position">Position</label>
<%= f.text_field(:position) %>

<label for="page_subject_id">Subject ID</label>
<%= f.text_field(:subject_id) %>

<label for="page_visible">Visible</label>
<%= f.text_field(:visible) %>