<%= link_to('<< Back to List', subjects_path, :class => 'back-link') %>

<div class="subject new">
    <h2>Add new subject</h2>

    <%= form_for(@subject) do |f| %>

        <label for="subject_name">Name</label>
        <%= f.text_field(:name) %>

        <label for="subject_position">Position</label>
        <%= f.text_field(:position) %>

        <label for="subject_visible">Visible</label>
        <%= f.text_field(:visible) %>

        <%= f.submit('Create subject') %>
    <% end %>
</div>
